{% extends "bootstrap/base.html" %}

{% block title %}Simple ToDo{% endblock %}

{% block content %}
		<div class="jumbotron text-center">
			<h1>Simple ToDo</h1>
			<p>A simple ToDo Application</p>
		</div>
		<div class="container">
			<table class="table">
				<thead>
					<tr>
						<th>Task</th>
						<th>Priority</th>
						<th>Due Date</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					{% for task in tasks %}
					<tr>
						<td>{{ task.task_name }}</td>
						<td>{{ task.priority }}</td>
						<td>{{ task.due_date.strftime('%Y-%m-%d') }}</td>
						<td>{{ task.status }}</td>
						<td><a class="btn btn-primary" href="/edit-task" role="button">Edit</a>
					</tr>
					{% endfor %}
			</tbody>
		</table>
		<a class="btn btn-primary" href="/new-task" role="button">New Task</a>
		</div>
{% endblock %}