{% extends "bootstrap/base.html" %}

{% block title %}New Task{% endblock %}

{% block content %}
		<div class="container">
		<h1>Add New Task</h1>
		<form>
			<div class="form-group row">
				<label for="task-name" class="col-sm-2 col-form-label">Task Name:</label>
				<div class="col-sm-10">
					<input type="text" id="task-name" name="task-name"></br>
				</div>
			</div>
			<div class="form-group row">
				<label for="priority" class="col-sm-2 col-form-label">Priority:</label>
				<div class="col-sm-10">
					<select multiple class="form-control" id="priority" name="priority">
						<option value="low">Low</option>
						<option value="medium">Medium</option>
						<option value="high">High</option>
						<option value="urgent">Urgent</option>
					</select></br>
				</div>
			</div>
			<div class="form-group row">
				<label for="due_date" class="col-sm-2 col-form-label">Due Date:</label>
				<div class="col-sm-10">
					<input type="date" id="due_date" name="due_date" /></br>
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
			<a class="btn btn-danger" href="/" role="button">Cancel</a>
		</form>
		</div>
{% endblock %}